{% extends 'blog/base.html' %}

{% block title %}
About - Django Blog
{% endblock %}

{% block content %}

<div class="container">

    <h1 class="mb-4">About Me</h1>

    <div class="card shadow-sm">

        <div class="card-body">

            <h3 class="card-title">
                Xin chào!
            </h3>

            <p class="card-text">
                Tôi đang học lập trình Web với Python và Django.
            </p>

            <p class="card-text">
                Website này được xây dựng để thực hành Django,
                HTML, CSS, Bootstrap và PostgreSQL.
            </p>

        </div>

    </div>

</div>

{% endblock %}